/*width, align, margin*/
$main-width: 980px;
$main-align: center;
$margin-length: 10px;

/*background images*/
$container-bg: "../images/background_img.gif";
$header-bg: "https://img.cgv.co.kr/r2014/images/common/bg/bg_header.gif";
$main-bg: "https://img.cgv.co.kr/r2014/images/common/bg/bg_c_bricks.png";

/*color*/
$black-color: #000000;
$white-color: #FFFFFF;
$dark-gray-color: #606060;
$orange-color: #E75F26;
$red-color: #FF0000;
